## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
print(application_df.APPLICATION_TYPE.value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Using cutoff value 500 and creating a list of application types to be replaced
# use the variable name `application_types_to_replace`
temp = application_df.groupby("APPLICATION_TYPE").filter(lambda x: len(x) < 500)
application_types_to_replace = temp['APPLICATION_TYPE'].unique().tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts()>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Using cutoff value 1000 and creating a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# ***************************************************
# OPTIMIZATION: drop CLASSIFICATION bin cutoff to 500
# ***************************************************
temp = application_df.groupby("CLASSIFICATION").filter(lambda x: len(x) < 500)
classifications_to_replace = temp['CLASSIFICATION'].unique().tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [ ]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Converting categorical data to numeric with `pd.get_dummies`
application_type_dummies = pd.get_dummies(application_df["APPLICATION_TYPE"])
affiliation_dummies = pd.get_dummies(application_df["AFFILIATION"])
classification_dummies = pd.get_dummies(application_df["CLASSIFICATION"])
use_case_dummies = pd.get_dummies(application_df["USE_CASE"])
organization_dummies = pd.get_dummies(application_df["ORGANIZATION"])
income_amt_dummies = pd.get_dummies(application_df["INCOME_AMT"])

# Remove original categorical features
application_df = application_df.drop(["APPLICATION_TYPE"], axis=1)
application_df = application_df.drop(["AFFILIATION"], axis=1)
application_df = application_df.drop(["CLASSIFICATION"], axis=1)
application_df = application_df.drop(["USE_CASE"], axis=1)
application_df = application_df.drop(["ORGANIZATION"], axis=1)
application_df = application_df.drop(["INCOME_AMT"], axis=1)


# Convery Special Considerations feature from Y/N to 1/0
application_df.SPECIAL_CONSIDERATIONS = application_df.SPECIAL_CONSIDERATIONS.replace(['Y', 'N'], [1, 0])

# ***************************************************************************************************
# OPTIMIZATION: drop STATUS feature
# *************************************************************************************************** 
application_df = application_df.drop(["STATUS"], axis=1)

# Concatinate the new features
application_df = pd.concat([application_df, 
                            application_type_dummies,
                            affiliation_dummies,
                            classification_dummies,
                            use_case_dummies,
                            organization_dummies,
                            income_amt_dummies
                            ],  axis=1)

In [ ]:
# Split the preprocessed data into features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Created an auto optimization function to determine:
* Activation
* Hidden layers
* Nodes
* Epochs

In [ ]:
pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 176.1/176.1 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [ ]:
number_input_features = len(X_train[0])

# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=number_input_features,
        max_value=number_input_features,
        step=1), activation=activation, 
        input_dim=number_input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    # 1-5 potential hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            # potential nodes
            min_value=5,
            max_value=200,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    # 20 max epochs
    max_epochs=20,
    hyperband_iterations=2)

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 40s]
val_accuracy: 0.7329446077346802

Best val_accuracy So Far: 0.7342274188995361
Total elapsed time: 00h 15m 05s

In [ ]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 42,
 'num_layers': 4,
 'units_0': 5,
 'units_1': 125,
 'units_2': 40,
 'units_3': 55,
 'units_4': 195,
 'tuner/epochs': 7,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 1,
 'tuner/round': 0}

In [ ]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5737 - accuracy: 0.7342 - 413ms/epoch - 2ms/step
Loss: 0.57373046875, Accuracy: 0.7342274188995361

## Compile, Train and Evaluate the Model

In [34]:
# Define the model - deep neural net (the number of input features and hidden nodes for each layer)
number_input_features = len(X_train[0])
# ************************************
# OPTIMIZATION: increase nodes
# ************************************
hidden_nodes_layer1 = 200
hidden_nodes_layer2 = 5
hidden_nodes_layer3 = 125
hidden_nodes_layer4 = 40
hidden_nodes_layer5 = 55
hidden_nodes_layer6 = 195

nn = tf.keras.models.Sequential()

# ********************************************************************************************************
# OPTIMIZATION: auto optimization top 3 outputs were:
# 1. relu with 1 hidden layer
# 2. sigmoid with 5 hidden layers
# 3. sigmoid with 4 hidden layers
# epochs and nodes varied, so took some averages and estimates to come up with final combination of all 3.
# ******************************************************************************************************** 

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# ***************************************************************************************************
# OPTIMIZATION: increase to six hidden layers
# *************************************************************************************************** 

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="sigmoid"))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="sigmoid"))

# Sixth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer6, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Checking the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 200)               8600

 dense_14 (Dense)            (None, 5)                 1005

 dense_15 (Dense)            (None, 125)               750

 dense_16 (Dense)            (None, 40)                5040

 dense_17 (Dense)            (None, 55)                2255

 dense_18 (Dense)            (None, 195)               10920

 dense_19 (Dense)            (None, 1)                 196

=================================================================
Total params: 28,766
Trainable params: 28,766
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [38]:
# Train the model
# callback that saves the model's weights every five epochs
from tensorflow import keras
from keras.callbacks import Callback
class WeightsSaver(Callback):
  def __init__(self, N):
    self.N = N
    self.epoch = 0
  def on_epoch_end(self, epoch, logs={}):
    if self.epoch % self.N == 0:
      name = 'weights%08d.h5' % self.epoch
      self.model.save_weights(name)
    self.epoch += 1
mc = keras.callbacks.ModelCheckpoint('weights{epoch:08d}.h5', save_weights_only=True, save_freq=5)

fit_model = nn.fit(X_train_scaled,y_train,epochs=14,callbacks=[mc])

Epoch 1/14
804/804 [==============================] - 3s 4ms/step - loss: 0.5482 - accuracy: 0.7317
Epoch 2/14
804/804 [==============================] - 4s 4ms/step - loss: 0.5464 - accuracy: 0.7337
Epoch 3/14
804/804 [==============================] - 3s 4ms/step - loss: 0.5478 - accuracy: 0.7323
Epoch 4/14
804/804 [==============================] - 3s 4ms/step - loss: 0.5465 - accuracy: 0.7336
Epoch 5/14
804/804 [==============================] - 4s 5ms/step - loss: 0.5468 - accuracy: 0.7327
Epoch 6/14
804/804 [==============================] - 3s 4ms/step - loss: 0.5457 - accuracy: 0.7344
Epoch 7/14
804/804 [==============================] - 3s 4ms/step - loss: 0.5454 - accuracy: 0.7339
Epoch 8/14
804/804 [==============================] - 4s 4ms/step - loss: 0.5459 - accuracy: 0.7334
Epoch 9/14
804/804 [==============================] - 4s 4ms/step - loss: 0.5453 - accuracy: 0.7346
Epoch 10/14
804/804 [==============================] - 4s 5ms/step - loss: 0.5453 - accuracy: 0.7344
Epoch 11/14
804/804 [==============================] - 4s 4ms/step - loss: 0.5444 - accuracy: 0.7340
Epoch 12/14
804/804 [==============================] - 4s 5ms/step - loss: 0.5451 - accuracy: 0.7339
Epoch 13/14
804/804 [==============================] - 3s 4ms/step - loss: 0.5443 - accuracy: 0.7341
Epoch 14/14
804/804 [==============================] - 3s 4ms/step - loss: 0.5439 - accuracy: 0.7352

In [39]:
# Evaluate the model using the test data
print("OPTIMIZED MODEL")
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

OPTIMIZED MODEL
268/268 - 0s - loss: 0.5516 - accuracy: 0.7301 - 268ms/epoch - 1ms/step
Loss: 0.5515845417976379, Accuracy: 0.7301457524299622

In [40]:
# Export the model to HDF5 file
model_name = "AlphabetSoupCharity_Optimization.h5"
nn.save(model_name)
print(f"{model_name} model saved")

AlphabetSoupCharity_Optimization.h5 model saved